.card {
  height: 160px;
  width: 260px;
  cursor: pointer;
  color: aliceblue;
  position: relative;
}
.logo {
  margin-bottom: 130px;
}
.image img {
  position: absolute;
  height: 160px;
  width: 260px;
  border-radius: 2px;
}
.button {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 20px;
  outline: none;
  background-color: black;
  margin-bottom: 4px;
  cursor: pointer;
}
.play {
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  border-left: 12px solid whitesmoke;
  margin-left: 2px;
  height: 0px;
}
.details {
  display: flex;
  flex-direction: column;
  background-color: #1a2732;
  opacity: 1;
  padding: 10px 19px 20px 29px;
  line-height: 1.1;
}
.details span {
  color: #00a8e1;
  font-weight: bold;
  font-size: 13px;
}
.details .title {
  color: aliceblue;
  font-size: 14px;
}
.details .description {
  color: aliceblue;
  font-weight: normal;
  font-size: 13px;
}
.details .runTime {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.runTime span {
  color: aliceblue;
  font-weight: normal;
  font-weight: bold;
  font-size: 13px;
}
.container:hover {
  transform: scale(1.1, 1.1);
  transition: transform, background-color, 0.25s;
}
.content:hover {
  /* background-color: #0f171e; */
  /* height: 370px;*/
  width: 280px;
  border: 2px solid #00a8e1;
  border-radius: 5px;
  transition: border 0.25s;
}
.content:hover .details {
  opacity: 1;
}
.button:hover {
  background-color: #00a8e1;
  border: 2px solid #00a8e1;
  transition: border, background-color, 0.25s;
}
.button:hover .play {
  border-top: 6px solid #00a8e1;
  border-bottom: 6px solid #00a8e1;
  transition: border-top, border-bottom, 0.25s;
}
