@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.FirstContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.firstbox {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  height: 80vh;
  max-width: 100%;
  width: 45vw;
  padding-left: 5vw;
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

h1 {
  padding-top: 5rem;
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 20px;
  width: 50vw;
  z-index: 1;
  text-overflow: clip ;
}

p {
  font-size: 1.4rem;
  word-break: normal;
  color: white;
  margin-bottom: 15px;
  width: 50vw;
  z-index: 1;
  text-overflow: clip ;
}
.subpara {
    font-size: 1rem;
    color: white;
    width: 50vw;
    z-index: 1;
    text-overflow: clip ;
}

.btn {
  margin-bottom: 15px;
  font-size: 1rem;
  background-color: #0f79af;
  color: white;
  height: 50px;
  width: 280px;
  z-index: 1;
  border-radius: 5px;
  border: 0;
}
.btn:hover{
  background-color: #26a2e0;
}

.secondbox {
  height: 80vh;
  max-width: 100%;
  width: 55vw;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0)
    ),
    url("../assets/images/logo/amazon1.png");
  background-size: cover;
  background-position: center;
}


.s {
  width: 100vw;
}
 button {
   cursor: pointer;
 }