body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial, sans-serif;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .container {
    padding: 20px;
  }
  .outer_box {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }
  .forgetPassword {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 20px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form label {
    color: black;
    width: 100%;
    font-weight: bold;
  }
  .form input {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    outline: 0;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .form input:focus,
  .form input :active {
    border: 1px solid #e1b441;
    border-radius: 3px;
    outline: 0;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 1px #f0c14b;
  }
  .button {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
  }
  .button:hover {
    background: linear-gradient(to bottom, #dcc692, #daa728);
  }
  .invalid {
    display: flex;
    flex-direction: column;
  }
  .invalid label {
    color: black;
    width: 100%;
    font-weight: bold;
  }
  .invalid input {
    border: 1px solid #a81111;
    border-radius: 3px;
    outline: 0;
    height: 30px;
    box-shadow: 0px 0px 3px inset #f80000;
  }
  .invalid p {
    color: #c40000;
    font-size: 12px;
  }