@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.FourthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.firstbox4 {
  height: 80vh;
  max-width: 100%;
  width: 55vw;
  /* background-size: cover; */
  background: url("../assets/images/img11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fourthTitle {
  padding-top: 5rem;
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 20px;
  width: 45vw;
  z-index: 1;
  text-overflow: clip;
  word-break: normal;
}

.fourthPara {
  font-size: 1.2rem;
  word-break: normal;
  color: white;
  margin-bottom: 55px;
  width: 45vw;
  padding-right: 5vw;
  z-index: 1;
  text-overflow: clip;
  word-break: normal;
}

.btn4 {
  margin-bottom: 15px;
  font-size: 1rem;
  background-color: #0f79af;
  color: white;
  height: 50px;
  width: 280px;
  z-index: 1;
  border-radius: 2px;
  border: 0;
}

.secondbox4 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  height: 80vh;
  max-width: 100%;
  width: 45vw;
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}
