.container {
  display: flex;
  flex-direction: column;
  background-color: #0f171e;
  cursor: default;
}
.header {
  height: 10vh;
  border: 2px solid yellow;
  margin: 0;
}
.subContainer1 {
  display: flex;
  flex-direction: column;
  height: 74vh;
  padding: 2.5vh 3.5vw;
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-weight: 300;
  color: white;
  font-size: 1rem;
}
.Subcontainerdiv2icons {
  height: 8vh;
  background-color: #425265;
  width: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4vh;
  padding-left: 2px;
}

.Subcontainerdiv2icons svg {
  color: rgb(207, 207, 207);
}
.subContainer1 p {
  font-size: 1.1rem;
  color: #8197a4;
  font-weight: 500;
  margin: 0px 5px;
}
.imdb {
  padding: 0px 2px;
  height: 18px;
  border-radius: 2px;
  border: 0.1px solid #8197a4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.imdb p {
  font-size: 12px !important;
  font-weight: 700 !important;
  margin: 0 !important;
}
.heading {
  font-weight: 500;
  margin: 2.5vh 0ch !important;
  margin-top: 8vh !important;
}
.subcontainer1detailsDiv {
  display: flex;
  align-items: center;
  margin-bottom: 2.5vh;
}
.Subcontainerdiv {
  height: 12vh;
  position: relative;
  display: flex;
}
.Subcontainerdiv2 {
  margin-left: 1.5vw;
  height: 100%;
  width: 20%;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}
.Subcontainer1buttonImage {
  position: absolute;
  left: 2vw;
  top: 5vh;
  height: 4vh;
}
.description {
  width: 65%;
  color: white !important;
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  padding-top: 30px;
  margin: 0 !important;
  text-align: start;
}
.Subcontainer1button {
  margin-top: 2vh;
  min-width: 10%;
  text-align: right;
  border-radius: 5px;
  padding-right: 20px;
  height: 100%;
  background-color: #0f79af;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: 0;
}
.castDetailDiv {
  display: flex;
  width: 38vw;
  height: 40vh;
  margin-top: 5px;
}
.castDetailleftsubdiv {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.castDetailrightsubdiv {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.castDetailrightsubdivblue {
  color: #79b8f3 !important;
}
.subContainer2 {
  padding-left: 3.5vw;
  height: 15vh;
  display: flex;
  color: #8197a4;
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
}
.subContainer2 p {
  display: inline;
  font-size: 1rem;
  word-break: initial !important;
  text-align: start !important;
}
.subContainer2otherbox {
  height: 15vh;
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 30vw;
  margin-left: 45vw;
}
.subContainer2othersubbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subContainer2othersubbox p {
  color: whitesmoke;
  margin-left: 5px;
}
.subContainer2othersubbox svg {
  margin-left: 10px;
}
.realated_detailsDiv {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.realated_detailsDiv p {
  color: #8197a4;
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0vh 1.1vw;
}
.moreDetailp {
  color: white;
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}
.moreDetailDiv {
  margin: 0;
  display: flex;
  height: 18vh;
}
.moreDetailLeftDiv {
  flex: 1;
  max-width: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: flex-start;
}
.moreDetailLeftDiv p {
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
  color: #8197a4;
}
.moreDetailRightDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 55vw;
  align-items: flex-start;
}
.moreDetailRightDiv p {
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  color: #8197a4;
}
.subContainer3 {
  height: 30vh;
  padding: 2.5vh 3.5vw;
}
.subContainer4 {
  height: 20vh;
  padding: 0vh 3.5vw;
  border: 2px solid red;
}
.realated_detailsDiv p,
.Subcontainer1button,
svg,
.subContainer2othersubbox p,
.castDetailrightsubdivblue {
  cursor: pointer;
}
.Subcontainer1button:hover {
  background-color: #5099de;
}
