@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.nav {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #0f171e;
  box-sizing: border-box;
  color: rgba(242, 244, 246, 0.9);
  cursor: default;
  display: block;
  font-size: 17px;
  height: 70px;
  left: 0;
  line-height: 24px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}

.navContainer {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 16px 20px;
  position: relative;
  width: 100%;
}
.logo {
  height: 5.5rem;
}

a {
  vertical-align: baseline;
}
.navPrimaryComponents {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  justify-content: end;
}

.navMainMenu {
  -webkit-box-flex: 1;
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  pointer-events: all;
}
.navUl {
  display: flex;
  list-style-type: none;
}
.navLi {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 8px;
}

form {
  color: white;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  margin: 0 0 30px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

input[type="search"]:focus {
  box-shadow: 0 0 1px 0 #bbb;
  border-color: #bbb;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
  display: contents;
}

input.nosubmit {
  border: 1px solid rgb(129 151 164 / 50%);
  height: 40px;
  /* width: 100%; */
  width: 250px;
  padding: 9px 4px 9px 47px;
  background: transparent
    url("../assets/images/search.png")
    no-repeat 13px center;
}
.navLanguage{
  padding-left: 20px;
}