.container {
  height: 94vh;
  width: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 3vw;
  border-radius: 10px;
}
.logo {
  height: 8vh;
  width: auto;
}
.formdiv {
  margin-top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(180, 182, 184);
  height: 90vh;
  width: 28vw;
  border-radius: 10px;
}
.formdivinner {
  height: 84vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formdivinner h1 {
  font-weight: 400;
  padding-top: 10px;
  font-size: 28px;
  align-self: start;
  margin: 0;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin-bottom: 14px !important;
}
.formdivinner input {
  width: 98%;
  border: 1px solid rgb(186, 186, 186);
  height: 30px;
  border-radius: 5px;
}
.formdivinner label {
  align-self: start;
  font-family: Arial, sans-serif;
  font-weight: 650;
  margin-bottom: 2px;
  font-size: 0.8rem;
}
.alignbox {
  display: flex;
  align-self: start;
}
.iLogo {
  height: 0.7rem;
  margin-bottom: 14px !important;
  margin-right: 0.3vw;
}
.alignbox span {
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: 520;
}
.buttonstyle {
  height: 30px;
  width: 100%;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 0;
  margin-bottom: 14px !important;
  cursor: pointer;
}
p {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  word-break: normal;
  display: inline;
  font-weight: 520;
  text-align: center;
}
.pLink {
  color: rgb(46, 157, 236);
  cursor: pointer;
}
hr {
  width: 100%;
  height: 0.3px;
  background-color: rgb(241, 241, 241);
}
.formdivinner input:focus {
  outline: 1.5px solid #f1ae03;
}
.errorp {
  color: red;
  margin: 8px 2px;
  align-self: start;
}
.hr {
  width: 15vw;
  background-image: linear-gradient(to left, white, gray, black, gray, white);
}
@media screen and (max-width: 750px) {
  .formdiv {
    width: 50vw;
  }
  .formdivinner {
    width: 46vw;
  }
}
@media screen and (max-width: 500px) {
  .formdiv {
    width: 80vw;
  }
  .formdivinner {
    width: 76vw;
  }
}
@media screen and (max-width: 290px) {
  .formdiv {
    width: 90vw;
  }
  .formdivinner {
    width: 86vw;
  }
}
